body {
  background: #f2f2f2;
  font-family: Arial;
}

.box {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #ccc;
}

input, select, button {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  background: #000;
  color: #fff;
  border: none;
}
button:hover {
  background: #333;
  cursor: pointer;
}